<% content_for :title, "Editing company" %>


<div class="card my-4">
  <h1 class="card-header">Editing <%= @company.name %></h1>
  <%= render "form", company: @company %>
  
</div>
<%= link_to "Back to companies", companies_path, class: 'btn btn-outline-secondary' %>
<%= link_to "Cancel", @company, class: 'btn btn-outline-danger' %>