<p style="color: green"><%= notice %></p>

<% content_for :title, "Companies" %>

<div class="container">
  <h1>Companies</h1>
  <table id="companies" class="table table-hover">
    <thead>
      <th>Name</th>
      <th>Industry</th>
      <th>Last contacted at</th>
      <th> </th>
    </thead>
    <tbody>
      <% @companies.each do |company| %>
        <%= render company %>
      <% end %>
    </tbody>
  </table>
  <%= link_to "New company", new_company_path, class: 'btn btn-outline-primary' %>
</div>